/* Products */
.category-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.category-card img {
  transition: transform 0.3s;
}

.category-card:hover img {
  transform: scale(1.1);
}

.card-title {
  font-size: 1.1rem;
}

.card-text {
  font-size: 0.9rem;
}

/* Segment */
.b2b-section {
  background: #f9f9f9;
}

.b2b-section h2 {
  font-size: 2rem;
}

.b2-card {
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  background: #e0f7fa;
}

.b2-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.b2-card .icon img {
  transition: transform 0.3s;
}

.b2-card:hover .icon img {
  transform: scale(1.1);
}

.b2-card h5 {
  font-size: 1.2rem;
}

.b2-card p {
  font-size: 0.95rem;
  color: #555;
}

.b2-card .btn-primary {
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.b2-card .btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(10, 82, 117, 0.3);
}

/* Newletters */
.stay-updated {
  border-radius: 15px;
  background: #e0f7fa;
  padding: 3rem 1rem;
  transition: all 0.3s;
}

.stay-updated h3 {
  font-size: 1.8rem;
}

.stay-updated p {
  font-size: 1rem;
}

.stay-updated .btn-primary {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
}

.stay-updated .btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(10, 82, 117, 0.3);
}
